<!DOCTYPE html>
<html>
<head>
<title>Gossip Monitoring</title>
<script src="static/js/script.js"></script>

</head>
<body>
    <table>
        <tr>
          <th>Key</th>
          <th>Value</th>
        </tr>
        <tr>
            <td>Host address</th>
            <td id="host"></th>
        </tr>
        <tr>
            <td>Host Port</th>
            <td id="port"></th>
        </tr>
        <tr>
            <td>Host ID</th>
            <td id="id"></th>
        </tr>
        <tr>
            <td>Neighbours</th>
            <td id="neighbours"></th>
        </tr>
        <tr>
            <td>Neighbour State</th>
            <td id="neighbour_state"></th>
        </tr>
    </table>
    <pre>Number of live neighbours: <p id="number_live_neighbours"></p></pre>
    <pre>Transmitting: <p id="transmitting"></p></pre>
    <button onclick="toggleTransmit()">Toggle Transmit</button>
</body>
</html> 



